absl-py==0.7.0
appnope==0.1.0
astor==0.7.1
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
dataclasses==0.7
decorator==4.1.2
deprecation==2.0.7
dotdict==0.1
editdistance==0.5.2
entrypoints==0.2.3
enum34==1.1.6
eyeD3==0.9.5
filetype==1.0.6
filterpy==1.4.5
funcsigs==1.0.2
futures==3.1.1
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
hmmlearn==0.2.3
html5lib==0.9999999
idna==2.8
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.3
Jinja2==2.9.6
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4.5
notebook==5.2.1
numpy==1.16.4
opencv-python==4.0.0.21
packaging==20.3
pandocfilters==1.4.2
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.7.0
ptyprocess==0.5.2
pyAudioAnalysis==0.3.0
pycparser==2.19
pydub==0.23.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.13
pyzmq==19.0.0
qtconsole==4.3.1
requests==2.21.0
scandir==1.6
scikit-learn==0.22.2.post1
scipy==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
sounddevice==0.3.13
tensorboard==1.13.0
tensorflow==2.5.3
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.0.6
